.footable.breakpoint.toggle-arrow-tiny > tbody > tr > td > span.footable-toggle:before {
    content: "\e020"!important;
  }

  .footable-toggle{
    float: right!important;
}

.divCenter{
    text-align: center!important;
}

.nav1{
    height: 100%;
    background-color: #333;
}